* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: #363532;
    color: white;
} */

.background {
    background-image: url('https://images.unsplash.com/photo-1541336032412-2048a678540d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    top: 0;
    left: 0;
    z-index: 1;
}

.home-page {
    background-image: url('https://images.unsplash.com/photo-1541336032412-2048a678540d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 60px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.929);
    overflow: hidden;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-color: transparent;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 0 15px;
    color: black;
}

nav a:hover{
    color: rgb(95, 95, 95);
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile p {
    margin: 0;
}

.profile img {
    border-radius: 50%;
}

.sign-up a {
    text-decoration: none;
    color: black;
}

.sign-up a:hover{
    color: rgb(95, 95, 95);
}

.information {
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    place-items: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    z-index: 1;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials img {
    border-radius: 50%;
    margin: 5px;
}

.line {
    text-align: center;
    margin: 4px 0;
}

.btn-explore {
    border: 1.5px solid white;
    background-color: transparent;
    padding: 5px 10px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    /* border-radius: 4px; */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.btn a {
    text-decoration: none;
    color: white;
}

.slogan {
    width: 450px;
    margin: 20px 0;
    font-style: italic;
    /* padding-top: 20px; */
}

h1 {
    font-size: 75px;
    margin-top: 20px;
}

h2 {
    color: white;
}

#about-us {
    padding-top: 5px;
    color: white;
}

#about img {
    padding: 20px 0;
}

.mission ul{
    list-style-type: none;
    display: flex; 
    justify-content: space-between;
}

.mission a {
    text-decoration: none;
    color: white;
}

.hr {
    background-color: white;
    color: white;
    height: 7px;
}

.card {
    background-color: #646363;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 200px;
    object-fit: cover;
}

.btn-tour {
    background-color: #646363; 
    padding: 5px; 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25); 
    border: none;
}

.btn-primary {
    color: white; 
    text-decoration: none;
}

#profile {
    overflow: hidden;
}

.img-about {
    height: 90vh;
    width: 100%;
}

.img-fluid{
    height: 50vh;
    width: 40vw;
}

.logo-2 {
    text-align: left;
}

.logo-2 img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-color: transparent;
}

input {
    color: white;
}

.form-group input {
    border: 1px solid #ffffff !important;
    background-color: #82807c;
    color: white;
}
.form-label {
    margin-top: 10px;
}
.btn-submit {
    background-color: #000000;
    color: #ffffff;
    border: none;
}

.sign-up {
    text-align: center;
}

.star {
    font-size: 1.5em;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}
  
.star:hover,
.star.active {
    color: #000000; 
}

.modal-content {
    background-color: #646363; 
    color: white; 
}
.modal-header {
    text-align: center;
}
.close {
    color: black; 
    opacity: 1;
}
.close:hover {
    color: #cccccc; 
}
.modal-body {
    padding: 20px;
}

.form-grp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.form-grp input{
    background-color: #363532; 
    color: white; 
    width: 200px;
    text-align: center;
    justify-content: center;
}

.form-grp label {
    color: white;
}

.packages {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.list-group {
    background-color: #646363;
    width: 100%;
    max-width: 400px; /* Adjust the width as needed */
}

.list-group-item {
    background-color: #f8f9fa; 
    border: 1px solid #ffffff; 
    color: #000000; 
}

.package-card {
    margin: 10px 20px;
    background-color: #363532;
    /* border-radius: 8px; */
}

#sidebar {
    display: none;
}

.open-sidebar, .close-sidebar {
    padding: 0 20px;
    display: none;
}

#sign-in {
    overflow: hidden;
    margin: 15px;
}

footer {
    background-color: #646363;
}

.social img {
    border-radius: 50%;
    margin-right: 5px;
}

.social a {
    text-decoration: none; 
    margin-right: 5px; 
}

.cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: #333;
    padding-bottom: 30px;
    padding-top: 20px;
    gap: 100px;
    margin-left: 20px;
}

.contact1 {
    text-align: left;
}

.contact2 a {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}
.contact2 {
    display: flex; 
    gap: 50px;
}

.copyright {
    font-size: 20px;
    text-align: center;
}

.con {
    padding-top: 40px;
}

.bg {
    background-image: url('https://images.unsplash.com/photo-1707343848552-893e05dba6ac?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.info {
    padding-top: 110px;
    padding-left: 70px;
    display: flex;
    gap: 20px;
}

.info1 {
    padding: 20px;
}

.menu {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.454);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 50px 70px;
}

.menu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.menu a:hover {
    color: #000000;
}


@media (max-width: 768px) {
.information h1 {
    font-size: 48px;
}
.btn {
    display: flex;
    align-items: center;
    margin: 50px 120px;
}
.slogan {
    width: 250px;
    margin: 20px 0;
    font-size: 32px;
    font-style: italic;
}
.img-fluid {
    height: 50vh;
}
.img-about {
    width: 45vw;
    height: 90vh;
}
.links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 70%;
    transition: right 0.75s ease-out;
    height: 100%;
    padding-top: 60px; 
}

nav {
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    align-items: center; /* Ensures logo and hamburger menu are vertically aligned */
    width: 100%;
}

nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
}

.open-sidebar {
    display: inline-block;
    cursor: pointer;
    margin-left: auto; /* Aligns the hamburger menu to the right */
}

#sidebar {
    display: none;
}

#sidebar:checked ~ .links {
    right: 0;
}

#sidebar:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.close-sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
}

@media (max-width: 320px) {
    nav {
        justify-content: space-between;
        padding: 0 20px;
        display: flex;
        align-items: center; 
        width: 100%;
    }
    .information h1 {
        font-size: 23px;
        text-wrap: nowrap;
    }
    .btn {
        display: flex;
        align-items: center;
        margin: 10px auto;
        width: auto;
    }
    .btn-explore {
        font-size: 16px;
        width: auto; 
        white-space: nowrap; 
    }
    .slogan {
        width: 200px;
        margin: 20px 0;
        font-size: 20px;
        font-style: italic;
    }
    .socials {
        display: none;
        /* margin-top: 20px;  */
        /* width: 20px; */
    }
    .header, .footer {
        padding: 0.5rem;
    }
    #about {
        text-align: center;
    }
    .img-about {
        width: 80vw; 
        height: 50vh;
        margin: 0 auto; 
    }
    .img-fluid {
        height: 30vh;
        width: 100%;
    }
    .mission {
        font-size: 14px;
    }
    .card {
        width: 80vw;
    }

    .card-img-top {
        height: 150px; 
    }

    .card-body {
        padding: 0.5rem;
    }

    .card-title {
        font-size: 1rem; 
    }

    .card-text {
        font-size: 0.875rem; 
    }

    .btn {
        font-size: 0.75rem; 
        padding: 0.5rem; 
    }

    .container {
        padding-left: 30px;
        /* padding: 0.5rem; */
        /* text-align: center; */
    }
    #destinations {
        margin-right: 10px;
    }
    #tours {
        margin-right: 10px;
    }
    #profile img {
        display: none;
    }
}